/*
===============
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
===============
Variables
===============
*/
* {
    margin: 0;
    padding: 0;
}
:root {
    --color-yellow: #ffc914;
    --color-grey: #b5c2b7;
    --color-black: #2e282a;
    --color-blue: #00a7e1;
    --color-cream: #eddea4;
    --color-white: #f5f3f5;
}
body {
    font-family: "Roboto", sans-serif;
    background: var(--color-white);
}
a {
    text-decoration: none;
}
.title {
    display: flex;
    padding: 20px;
}
.title-icon i {
    color: var(--color-yellow);
    font-size: 60px;
    margin-right: 10px;
}
.title-text {
    text-transform: uppercase;
    padding-left: 10px;
    border-left: 3px solid var(--color-grey);
}
.title-heading {
    color: var(--color-black);
}
.title-subheading {
    padding: 5px;
    text-transform: capitalize;
    color: var(--color-grey);
}
/*
===============
Navbar
===============
*/
#nav ul {
    list-style-type: none;
    display: none;
}
#nav ul li:last-of-type {
    display: flex;
}
#nav ul li:last-of-type a {
    flex: 1 0 auto;
    text-align: center;
}
#nav ul li a {
    display: block;
    color: var(--color-yellow);
    background: var(--color-black);
    padding: 10px;
    font-size: 20px;
    transition: color 2s ease-in-out, background 2s ease;
    text-decoration: none;
}
#nav ul li a:hover {
    color: var(--color-black);
    background: var(--color-yellow);
}
.nav-logo {
    display: flex;
    justify-content: space-between;
    background: var(--color-yellow);
    padding: 10px;
}
.nav-logo img {
    display: block;
    max-height: 100px;
    max-width: 100px;
}
.nav-logo i {
    font-size: 25px;
    align-self: center;
    padding: 10px;
    cursor: pointer;
}
.new-nav {
    /* position: fixed; */
    width: 100vw;
    z-index: 10!important;
}
@media screen and (min-width: 776px) {
    #nav {
        border-top: 5px solid var(--color-yellow);
        display: flex;
        background: var(--color-black);
    }
    #nav ul {
        display: flex!important;
        flex: 1 0 auto;
        justify-content: space-around;
        align-self: center;
        flex-wrap: wrap;
        padding: 0 10px;
    }
    #nav ul li {
        flex: 1 0 100px;
    }
    #nav ul li a {
        border-radius: 5px;
        text-align: center;
    }
    #nav ul li:last-of-type, #toggle-btn {
        display: none;
    }
}
/*
===============
Header
===============
*/
header {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}
#banner {
    flex: 1 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-banner.jpg) center/cover fixed no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-text h1 {
    text-decoration: underline;
    font-size: 60px;
    font-style: italic;
    color: var(--color-yellow);
    text-transform: uppercase;
}
.banner-text h3 {
    font-size: 30px;
    color: var(--color-grey);
    margin: 10px 0;
    text-transform: capitalize;
}
.banner-text a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 25px;
    padding: 10px;
    color: var(--color-yellow);
    border: 3px solid var(--color-yellow);
    background: transparent;
    transition: color 2s ease, background 2s ease;
}
.banner-text a:hover {
    color: var(--color-black);
    background: var(--color-yellow);
}
/*
===============
Icon section
===============
*/
#icon-section {
    height: 70px;
    background: var(--color-black);
    padding: 20px 0 40px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40% );
    text-align: center;
}
#icon-section a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background: rgba(0, 0, 0, 0.8);
    color: var(--color-yellow);
    font-size: 30px;
    border-radius: 5px;
    transition: transform 2s ease, color 2s ease;
}
#icon-section a:hover {
    transform: translateY(-10px);
    color: #d9e5d6;
}
/*
===============
Skills
===============
*/
#skills {
    padding-top: -40px;
}
.skills-center {
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px 0;
}
.skill {
    margin: 40px 0;
    text-align: center;
}
.skill i {
    font-size: 60px;
    color: var(--color-blue);
    background: var(--color-yellow);
    padding: 60px;
    transition: color 2s ease, background 2s ease;
}
.skill i:hover {
    background: var(--color-black);
    color: var(--color-yellow);
}
.skill h3 {
    text-transform: uppercase;
    margin: 20px 0;
}
.skill p {
    width: 70%;
    line-height: 1.5;
    color: var(--color-grey);
    margin: 0 auto;
}
.fa-apple {
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
.fa-google {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}
.fa-android {
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}
.fa-cog {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
@media screen and (min-width: 576px) {
    .skills-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .skill {
        flex: 1 0 calc(50% - 1em);
    }
    .skill p {
        width: 80%;
    }
}
@media screen and (min-width: 992px) {
    .skill {
        flex: 0 0 calc(25% - 1em);
    }
    .skill p {
        width: 100%;
    }
}
/*
===============
Form section
===============
*/
#form {
    min-height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-filler-1.jpg) center/cover fixed no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}
.form-title {
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 40px;
}
#email {
    font-size: 30px;
    margin: 10px 20px;
    border: none;
    background: transparent;
    border-bottom: 3px solid var(--color-white);
}
#email::placeholder {
    color: var(--color-white);
    text-transform: capitalize;
}
#submit {
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    font-size: 25px;
    color: var(--color-yellow);
    border: 3px solid var(--color-white);
    background: transparent;
    text-transform: uppercase;
    transition: color 2s ease, background 2s ease, border 2s ease;
}
#submit:hover {
    color: var(--color-white);
    background: var(--color-yellow);
    border-color: var(--color-yellow);
}
form {
    display: flex;
    flex-wrap: wrap;
}
/*
===============
Work
===============
*/
#work .title {
    flex-direction: row-reverse;
    margin-top: -20px;
}
#work .title-icon i {
    margin-left: 10px;
    margin-right: 0;
}
#work .title-text {
    padding-left: 0;
    padding-right: 10px;
    border-left: none;
    border-right: 3px solid var(--color-grey);
}
.work-center {
    padding: 40px 0;
    max-width: 90%;
    margin: 0 auto;
}
#work img {
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 3px solid var(--color-yellow);
}
.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 40px 0;
}
.button-group button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 25px;
    color: var(--color-white);
    background: var(--color-blue);
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
}
.picture-item {
    width: calc(50% - 20px);
    margin: 10px;
}
@media screen and (min-width: 992px) {
    .picture-item {
        width: calc(25% - 20px);
    }
}
/*
===============
About
===============
*/
#about {
    min-height: 90vh;
    padding: 40px 0;
    background: linear-gradient(rgba(255, 201, 20, 0.3), rgba(255, 201, 20, 0.3)), url(../images/current-projects-1.jpeg) center/cover fixed no-repeat;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}
#about-center {
    max-width: 90vw;
    margin: 0 auto;
}
#about-photo  img {
    width: 100%;
    border-radius: 20px;
    transition: transform 2s ease;
}
#about-photo img:hover {
    transform: scale(0.8);
}
#about-photo, #about-text {
    margin: 40px 0;
}
.ui-accordion-header {
    padding: 20px!important;
    color: var(--color-blue)!important;
    background: var(--color-yellow)!important;
    text-align: center;
    font-size: 20!important;
    text-transform: capitalize;
    margin: 5px 0!important;
    border: 2px solid var(--color-blue)!important;
    border-radius: 10px!important;
}
.ui-accordion .ui-accordion-content {
    background: var(--color-grey);
    padding: 20px!important;
    line-height: 1.8;
    color: var(--color-white);
    border-radius: 10px!important;
}
@media screen and (min-width: 776px) {
    #about-center {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    #about-photo, #about-text {
        flex: 0 0 calc(50% - 1em);
    }
    #about-text{
        align-self: center;
    }
}
/*
===============
Current project
===============
*/
#current {
    margin: 40px 0;
}
.current-item {
    background: linear-gradient(rgb(255, 201, 20), rgb(255, 201, 20));
}
.current-item img {
    display: block;
    width: 100%;
    opacity: 1;
    transition: opacity 2s ease;
}
.current-item img:hover {
    opacity: 0.5;
}
@media screen and (min-width: 576px) {
    #current-center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 992px) {
    #current-center {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*
===============
Numbers
===============
*/
.number {
    text-align: center;
    padding: 40px 0;
    background: #191919;
    color: var(--color-cream);
    transition: color 2s ease, background 2s ease;
}
.number:hover {
    color: var(--color-yellow);
    background: rgb(109, 106, 79);
}
.number i {
    font-size: 60px;
}
.numscroller {
    font-size: 25px;
    margin: 20px 0;
}
.number h3 {
    text-transform: uppercase;
}
@media screen and (min-width: 576px) {
    #numbers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 992px) {
    #numbers {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*
===============
Team
===============
*/
#team {
    padding: 40px 0;
    background: var(--color-grey);
}
#team .title-subheading {
    color: var(--color-blue);
}
#team .title-text {
    border-color: var(--color-blue);
}
.team-member {
    text-align: center;
    background: var(--color-white);
    border: 1px solid var(--color-blue);
    border-radius: 20px;
    transition: background 2s ease;
    margin: 70px 0;
}
.team-member:hover {
    background: var(--color-blue);
}
.team-member img {
    width: 100px;
    border-radius: 50%;
    margin-top: -35px;
}
#team-center {
    max-width: 90vw;
    margin: 0 auto;
    padding: 40px 0;
}
.team-member h2 {
    text-transform: capitalize;
}
.team-member h5 {
    margin: 10px 0;
    text-transform: uppercase;
}
.team-member hr {
    width: 70%;
    margin: 0 auto;
    border: 1px solid var(--color-yellow);
}
.team-member p {
    line-height: 2;
    margin: 10px;
}
.team-member-footer {
    padding: 20px 0;
    background: var(--color-black);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
}
.team-member-footer i {
    color: var(--color-yellow);
    font-size: 30px;
    transition: color 2s ease;
}
.team-member-footer i:hover {
    color: var(--color-blue);
}
@media screen and (min-width: 576px) {
    #team-center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
    }
}
@media screen and (min-width: 992px) {
    #team-center {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*
===============
Progress bars
===============
*/
#progress-bars {
    padding: 100px 0;
    background: linear-gradient(rgb(255, 201, 20, 0.3), rgb(255, 201, 20, 0.3)), url(../images/background-filler-1.jpg) center/cover fixed no-repeat;
}
.progress-center {
    max-width: 70%;
    margin: 0 auto;
}
.progress-item {
    margin: 20px 0;
}
.progress-text {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--color-blue);
}
.ui-widget-content {
    height: 20px!important;
    background: var(--color-white)!important;
    border: 3px solid var(--color-blue)!important;
}
.ui-widget-header {
    background: var(--color-yellow)!important;
}
/*
===============
Pricing
===============
*/
#pricing {
    padding: 40px 0;
    background: #191919;
}
#pricing .title-heading {
    color: var(--color-yellow);
}
.pricing-center {
    max-width: 90%;
    margin: 0 auto;
}
.pricing-card {
    text-align: center;
    color: var(--color-white);
    padding: 30px 0;
    margin: 30px 0;
}
.pricing-card ul {
    list-style-type: none;
}
.pricing-card ul li {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.pricing-card h3 {
    font-size: 40px;
    text-transform: capitalize;
    color: var(--color-blue);
}
.pricing-card h1 {
    font-size: 60px;
    margin: 40px 0;
}
.pricing-card i {
    font-size: 25px;
    margin-right: 10px;
}
.pricing-card a {
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: 20px;
    transition: background 2s ease, color 2s ease;
}
.pricing-card a:hover {
    color: #191919;
    background: var(--color-blue);
    border-color: var(--color-blue);
}
.custom {
    background: var(--color-white);
    color: #191919;
    border-radius: 30px;
    transition: transform 2s ease;
}
.custom:hover {
    transform: translateY(-20px);
}
.custom a{
    color: var(--color-yellow);
    border-color: var(--color-yellow);
}
.custom a:hover {
    background: var(--color-yellow);
    border-color: var(--color-yellow);
}
@media screen and (min-width: 776px) {
    .pricing-center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
    }
}
@media screen and (min-width: 992px) {
    .pricing-center {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*
===============
Quotes
===============
*/
#quotes {
    padding: 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/quotes-background.jpeg) center/cover fixed no-repeat;
}
#quotes .title-heading {
    color: var(--color-yellow);
}
.quote {
    text-align: center;
    color: var(--color-white);
    padding: 20px 0;
    margin: 20px 0;
}
.quote img {
    width: 150px!important;
    margin: 0 auto;
    border-radius: 50%;
}
.quote i {
    font-size: 35px;
    color: var(--color-yellow);
    margin-right: 5px;
}
.quote p {
    line-height: 1.5;
    width: 80%;
    margin: 10px auto;
}
/*
===============
Footer
===============
*/
#footer {
    padding: 40px 0;
    background: var(--color-blue);
    min-height: 60vh;
}
.info-center, iframe {
    width: 90%;
    margin: 40px auto;
}
iframe {
    display: block;
    border-radius: 20px;
}
.info-item {
    display: flex;
    margin: 10px 0;
}
.info-item i {
    font-size: 30px;
    padding: 10px;
    color: var(--color-yellow);
    background: #191919;
    margin-right: 15px;
}
@media screen and (min-width: 776px) {
    #footer {
        display: flex;
    }
    #footer-info, #footer-map {
        flex: 0 0 50%;
    }
    #footer-info {
        display: flex;
    }
}